*{
    font-family: 'Open Sans', sans-serif;
}
/* nav releated styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
font-size: 20px;
font-weight: 400;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
color: #FFF;
font-size: 20px;
font-weight: 700;
padding: 18px 35px;
border: white;
}
.heading{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
.r-primary{
    color: #FD6E0A;
}
.header{
    background-color:#FFF8F3;;
}
.third{
    color: #474747;
font-size: 45px;
font-weight: 600;
}
.first{
    color: #181818;
font-size: 85px;
font-weight: 700;
}
.paragraph{
    color: #757575;
font-size: 18px;
font-weight: 400;
}
.banner{
    display: flex;
}
.description{
    padding: 0px 200px;
}
.image{
    width: 584px;
height: 676px;
}