*{
    font-family: 'Open Sans', sans-serif;
    /* margin: 0px; */
    /* padding: 0px; */
}
/* nav releated styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
font-size: 20px;
font-weight: 400;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
color: #FFF;
font-size: 20px;
font-weight: 700;
padding: 18px 35px;
border: white;
}
.heading{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
.r-primary{
    color: #FD6E0A;
}
.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.third{
    color: #474747;
font-size: 45px;
font-weight: 600;
margin-bottom: 0px;
}
.first{
    color: #181818;
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 0px;
}
.paragraph{
    color: #757575;
font-size: 18px;
font-weight: 400;
margin-bottom: 30px;
}
.banner{
    display: flex;
}
.description{
    padding: 0px 200px;
}
.image{
    width: 584px;
height: 676px;
}
.about{
    max-width: 1140px;
max-height: 550px;
border-radius: 10px;
background: #FFF8F3;
margin: 120px auto;
text-align: center;
padding: 210px 160px;
}
.first-heading{
    color:  #181818;
font-size: 35px;
font-weight: 700;
margin-bottom: 0px;
}
.first-paragraph{
    color: #757575;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding: 30px 0px;
margin-top: 0px;
}
.main-container{
    display: flex;
    justify-content:space-around;
}
.third-heading{
    color: #757575;
font-size: 20px;
font-weight: 400;
line-height: 30px;
margin-bottom: 0px;
}
.third-paragraph{
    color: #474747;
font-size: 20px;
font-weight: 600;
line-height: 30px;
margin-top: 0px;
}
.what-i-do{
   background-color: #FFF;
   margin: 50px 400px;
   text-align: center;
}
.skill-container{
    display: flex;
    margin: 30px 230px;
    gap: 24px;
}
.skill{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
}
.first-headin{
    color:#181818;
    font-size: 20px;
    font-weight: 700;
}
.first-paragrap{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.summary-of-resume{
    display: flex;
    margin: 150px 230px;
    gap: 30px;
    margin-bottom: 40px;
}
#division{
    margin-top: 80px;
}
.my-education{
    color: #474747;
font-size: 30px;
font-weight: 700;
}
.second-heading{
    color: #474747;
font-size: 30px;
font-weight: 700;
}
.fourth-heading{
    color: #757575;
font-size: 20px;
font-weight: 600;
}
.second-paragraph{
    color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
#baton{
    text-align: center;
    margin-top: 0px;
}